# created by virtualenv automatically

.env

C:\Users\Dmitrii\Desktop\SQLALCHEMY\alembic\__pycache__

C:\Users\Dmitrii\Desktop\SQLALCHEMY\alembic\versions\__pycache__

C:\Users\Dmitrii\Desktop\SQLALCHEMY\sqlalchemy\__pycache__

C:\Users\Dmitrii\Desktop\SQLALCHEMY\sqlalchemy\database\__pycache__

C:\Users\Dmitrii\Desktop\SQLALCHEMY\sqlalchemy\users\__pycache__
